* {
	margin: 0.8em;
}

html {
  font-family: sans-serif;
  zoom: 1.8
}

body {
  background-color: rgb(199, 144, 32);
}

tr{
  background-color:rgb(103, 132, 76);
}

h1{ 
  text-align: center;
  color: rgb(6, 86, 129);
}

p {
  color:rgb(255, 247, 192);
}